{% extends "layout.html" %}
{% block body %}
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
          <ul class="navbar-nav" data-aos="slide-down" data-aos-duration="1000" >
            <li class="nav-item">
              <a class="nav-link active" href="index.html#!/home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#!/services">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html#!/about-us">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">HELP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html#!/feedback">FEEDBACK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">REGISTER/LOGIN</a>
              </li>
          </ul>
        </div>
      </nav>
</div>
{% endblock %}